.tableStyle {
  border-collapse: collapse;
  box-sizing: border-box;
  text-indent: initial;
  unicode-bidi: isolate;
  width: 100%;
}

.tableHeader {
  background-color: black;
  color: white;
}

.tableCell {
  border: 2px solid black;
}

.rowColor:nth-child(odd) {
  background-color: lightgrey;
}
